.category.hovered .task-wrapper {
  padding-bottom: 55px;
  transition-duration: 100ms;

  &::after {
    content: '';
    width: 288px;
    height: 48px;
    position: absolute;
    border-radius: 0.25rem;
    left: 50%;
    bottom: 0.35rem;
    transform: translateX(-50%) scaleY(1);
    background: rgba(39, 172, 255, 0.521);
    animation: fadein 400ms;
    transform-origin: bottom;
  }
}
@keyframes fadein {
  from {
    transform: scaleY(0) translateX(-50%);
  }
  to {
    transform: scaleY(1) translateX(-50%);
  }
}

.containers {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
  padding: 0.5rem;

  h1 {
    text-transform: capitalize;
    color: #1a1a1a;
    word-wrap: break-word;
    max-width: 175px;
    font-size: 1.25rem;
  }
}
.category {
  transition-duration: 200ms;
  color: white;
  margin-right: 1.25rem;
  min-width: 300px;
  max-width: 300px;
  min-height: 200px;
  border-radius: 0.25rem;
  position: relative;
  height: 100%;
}
.task-wrapper {
  background: #3333336c;
  height: min-content;
  min-height: 61px;
  max-height: 65vh;
  border-radius: 0 0 0.25rem 0.25rem;
  pointer-events: none;
  position: relative;
  padding-bottom: 0.1rem;
  overflow-y: auto;
}
.title-remove-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1a1a1a;
  background: white;
  padding: 1rem;
  border-radius: 0.25rem 0.25rem 0 0;
  pointer-events: none;

  input {
    background: transparent;
    border: 2px solid #1a1a1a;
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: #1a1a1a;
    cursor: pointer;
    pointer-events: initial;
    transition-duration: 80ms;
    &:hover {
      background: #1a1a1a;
      color: white;
    }
  }
}
